[Unit]
Description=Fortishield agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking

ExecStart=/usr/bin/env FORTISHIELD_HOME_TMP/bin/fortishield-control start
ExecStop=/usr/bin/env FORTISHIELD_HOME_TMP/bin/fortishield-control stop
ExecReload=/usr/bin/env FORTISHIELD_HOME_TMP/bin/fortishield-control reload

KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
